<ion-view title="Challenger">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            <p>Hello this is challenger for you</p>
        </div>
        <h3>You've got {{challenges}} challenged</h3>
        <ion-list>
            <ion-item href="#/page4">Item 1</ion-item>
            <ion-item href="#/page4">Item 2</ion-item>
            <ion-item href="#/page4">Item 3</ion-item>
        </ion-list>
        <a href="#/pick" class="button button-stable button-block ">Pick a new challenge</a>
    </ion-content>
</ion-view>