<ion-view title="Creating challenge">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Name" ng-model="name">
            </label>
            <label class="item item-input">
                <textarea placeholder="Comments" ng-model="text"></textarea>
            </label>
        </div>
        {{name}}
        {{text}}
        <form class="list">
            <ion-toggle toggle-class="toggle-positive">Toggle</ion-toggle>
        </form>
        <button class="button button-stable button-block" ng-click="save()">End</button>
    </ion-content>
</ion-view>